.glyphicon-remove:hover {
    color: #e78720;
}

.btn-confirm-delete,
.btn-confirm-cancel {
    position: absolute;
    bottom: 0px;
    right: 10%;
    z-index: 2;
    width: 44px;
    height: 32px;
    padding: 0;
}

.btn-confirm-cancel {
    left: 10%;
}

.box-confirm {
    height: 100%;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.85);
    z-index: 1;
    position: absolute;
}
.box-confirm-content p {
    margin: 0;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    z-index: 0;
}

.box-confirm-content {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 43%;
    height: 70px;
}



/*
* Media bootstrap
*
*/

.box-blur {
    height: 100%;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.box {
    position: relative;
    height: 84px;
    width: auto;
    border-radius: 0;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    
    border-bottom: 1px ridge rgba(128, 128, 128, 0.4);
}
.box-container {
    padding: 10px 15px 10px 10px;
}
.box.box-full {
    height: auto;
    padding-bottom: 18px;
}

.box:hover .box-title {
        transition: all 0.1s;
    color: #ef7e05;
}

.box:hover .quote-content {
    transition: all 0.2s;
    border-left: 5px solid #ef7e05;
}

.box:hover {
        transition: all 0.2s;
    border-bottom: 1px ridge #ef7e05;
}

.quote-content {
    width: auto;
    padding: 5px 15px 0px 8px;
    font-size: 13px;
    color: black;
    border-left: 5px solid rgba(255, 165, 0, 0.6);
    margin-bottom: 6px;
}

.quote-content-full {
    height: auto;
    overflow: visible;
}

.quote-content-short {
    height: 60px;
    overflow: hidden;
}

.link-bottom {
    position: absolute;
    width: 75%;
    bottom: 4px;
    /*padding-right: 15px;*/
    background-size: 15px !important;
}

body {
    overflow-x: hidden;
    position: relative;
    font-family: Arial;
}

.tab-pane {
    margin-top: 10px;
}

.box-avatar-left {
    border: 0;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

.box-body-content {
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 23px;
    width: 278px;
}

.tab-content {
    height: 390px;
    overflow: auto;
    width: 372px;
    background-color: white;
    border: 0;
    margin-bottom: 10px;
    /* box-shadow: 0 14px 18px -16px #9a9696 inset; */
    /* box-shadow: 0 0 5px 5px #888; */
    /*padding-bottom: 50px;*/
}

.tab-pane {
    width: 100%;
}

#right-side {
    width: 372px;
    height: 435px;
    bottom: 63px;
    right: 0;
    position: fixed;
    box-shadow: 0 0px 20px rgba(0,0,0,0.25), 0 0px 7px rgba(0,0,0,0.22);
    display: none;
}

#div-trip-select {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
}

#selection-trip {
    height: 26px;
    width: 103px;
    border-color: #de8700;
}

#open-button {
    height: 26px;
    border: 1px solid #B97306;
    float: right;
    background-color: #de8700;
}

#open-button.btn-sm {
    padding: 5px 9px;
    font-size: 13px;
    line-height: 0.5;
    border-radius: 0;
}

input[type=submit] {
    background-color: #e69000;
    color: white;
    border: 1px solid #de8700;
    height: 26px;
}

#right-side-footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.29);
}

#tooltip-switch {
    margin: 12px 85px 12px;
}

#tooltip-switch .btn {
    padding: 1px 12px;
}

a.box-title:link {
    color: black;
    text-decoration: none;
}

a.box-title:active {
    text-decoration: underline;
}

a.box-title:visited {
    color: black;
    text-decoration: none;
}

a.box-title:hover {
    text-decoration: none;
}

.title-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 262px;
    overflow: hidden;
    margin-bottom: 4px;
    font-size: 16px;
}

.box-body {
    width: auto;
    height: auto;
}
.quote-source, .saved-link-footer{
    float: left;
    font-size: 12px;
    margin-left: 20px;
    max-width: 160px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
    height: 30px;
    padding: 8px 0;
}

.quote-see-more {
    float: right;
    font-size: 12px;
    padding: 0 15px 0 0;
}
.quote-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-right: 15px;
    background-size: 20px !important;
}
.quote-bottom a {
    /*color: #e69000;*/

}

/* Tab-pane */

.tab-pane {
    margin-top: 0;
    /*    padding: 10px;*/
}

/* Trip name */

.trip-name {
    font-size: 20px;
    margin-left: 43px;
}


/* right side nav tabs */

#right-side-nav-tabs {
    background-color: #f8f8f8;
    position: relative;
    box-sizing: content-box;
    padding: 8px 0;
    border-bottom: 1px ridge rgba(128, 128, 128, 0.3);
    /* -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); */
}
.icon-list {
    position: absolute;
    padding: 10px;
    top: -2px;
    font-size: 28px;
    color: #e78720;

}

.nav-tabs {
    border-bottom: 0;
    margin-top:-4px;
}

.nav-tabs>li>a {
    font-size: 20px;
    color: gray;
    border-radius: 0;
    margin: 0;
}
.nav>li>a {
    padding: 4px 11px;
    width: auto;
    height: auto;
}

.nav>li>a:hover {
    background: transparent;
    border-color: transparent;
}

.nav-tabs>li.active> a,
.nav-tabs>li.active>a:focus {
    margin: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #e78720 !important;
    /*font-size: 25px;*/
}


/* Dropdown trip */

.my-dropdown {
    position: relative;
}

.my-dropdown-content {
    display: none;
    overflow: auto;
    max-height: 390px;
    z-index: 3;
    position: absolute;
    top: 47px;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.my-dropdown-content a:hover {
    background-color: rgba(243, 144, 17, 0.38);
}

.my-dropdown-content a {
    font-family: Arial;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
.my-dropdown-content a:active {
    background-color: rgba(243, 144, 17, 0.5);;
}
.icon-list:hover .my-dropdown-content {
    display: block;
}




/* tool button */

#btn-tool-show {
    opacity: 0.5;
    /*background-color: red;*/
    z-index: 10;
    border: 0;
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 43px;
    width: 43px;
    border-radius: 50%;
}
#btn-tool-show img {
    width: 35px;
    height: 35px;
    margin: 4px;
}
#btn-tool-show:hover img {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    transition: all 0.3s;
}
#btn-tool-show:hover {
    opacity: 1;
    transition: all 0.3s;
    background-color: #eee;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button:focus {
    outline: none !important;
}

/*place bottom*/
.rating {
    color: #e69000;
    font-weight: bold;
    display: inline-block;
    font-family: arial;
}
.bottom {
    color: #999;
}
.delete-btn, .favorite-btn {
    display: inline-block;
    font-weight: bold;
    float: right;
    margin-right: 5px;
    margin-top:1px;
}
.favorite-not-active, .favorite-not-active:hover {
    color: #999;
}
.favorite-active, .favorite-active:hover {
    color: red;
}
.icon-heart:hover{
    cursor: pointer;
    padding: 1px;
    font-size:20px;
}
.icon-trash, .icon-heart {
    padding: 4px;
    margin-left: 5px;
}
.icon-trash {
    color: #999;
}
.icon-trash:hover {
    color: black;
    cursor: pointer;
    padding: 1px;
    font-size:20px;
}
.link-bottom .delete-btn {
    margin-top: 6px;
    margin-left:45px;
}


.no-more {
    width: auto;
    background-color: #f1ecec;
}
.no-more-content {
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    flood-color: black;
    text-align: center;
    padding: 20px;
    color: rgba(0, 0, 0, 0.25)
}