/* Button tool */
#btn-tool-show {
  opacity: 0.5;
  z-index: 23051996;
  border: 0;
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 43px;
  width: 43px;
  border-radius: 50%; }
  #btn-tool-show:hover {
    opacity: 1;
    transition: all 0.3s;
    background-color: #eee;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  #btn-tool-show img {
    width: 35px;
    height: 35px;
    margin: 4px; }
    #btn-tool-show img:hover {
      -ms-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      transition: all 0.3s; }

/* Right-side */
#right-side {
  z-index: 23051996;
  width: 372px;
  height: 435px;
  bottom: 63px;
  right: 0;
  position: fixed;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25), 0 0px 7px rgba(0, 0, 0, 0.22);
  display: none;
  font-family: Arial !important;
  box-sizing: content-box;
  /* Box */
  /* Error box */ }
  #right-side #right-side-nav-tabs {
    background-color: #f8f8f8;
    position: relative;
    box-sizing: content-box;
    padding: 8px 0px;
    border-bottom: 1px ridge rgba(128, 128, 128, 0.3);
    height: 26px;
    /* navigation menu */ }
    #right-side #right-side-nav-tabs .icon-list {
      position: absolute !important;
      padding: 9px !important;
      top: -2px !important;
      font-size: 28px !important;
      color: #e78720 !important;
      z-index: 2; }
      #right-side #right-side-nav-tabs .icon-list:hover .my-dropdown-content {
        display: block; }
      #right-side #right-side-nav-tabs .icon-list .my-dropdown-content {
        display: none;
        overflow: auto;
        max-height: 390px;
        z-index: 3;
        position: absolute;
        top: 45px;
        left: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
        #right-side #right-side-nav-tabs .icon-list .my-dropdown-content a {
          color: #333;
          padding: 8px 10px;
          text-decoration: none;
          display: block;
          font-size: 16px;
          font-family: Arial !important; }
          #right-side #right-side-nav-tabs .icon-list .my-dropdown-content a:hover {
            background-color: rgba(243, 144, 17, 0.38); }
          #right-side #right-side-nav-tabs .icon-list .my-dropdown-content a:active {
            background-color: rgba(243, 144, 17, 0.5); }
    #right-side #right-side-nav-tabs #trip-name {
      font-size: 19px;
      margin-left: 43px;
      line-height: 1.45;
      text-transform: uppercase;
      width: 245px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
  #right-side #ext-nav {
    position: absolute;
    top: 7px;
    width: 100%; }
    #right-side #ext-nav ul {
      list-style-type: none;
      margin: 0 0 3px;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
      display: block; }
      #right-side #ext-nav ul li {
        padding: 0 10px 5px;
        display: inline-block;
        float: right; }
        #right-side #ext-nav ul li:focus {
          outline: none !important; }
        #right-side #ext-nav ul li a {
          display: block;
          text-align: center;
          text-decoration: none;
          font-size: 23px;
          color: #999; }
          #right-side #ext-nav ul li a:hover {
            background-color: transparent; }
          #right-side #ext-nav ul li a:focus {
            outline: none !important; }
    #right-side #ext-nav #place-tab,
    #right-side #ext-nav #link-tab {
      height: 380px !important;
      overflow: auto; }
    #right-side #ext-nav .ui-tabs-active a {
      color: #e78720; }
  #right-side .box-blur {
    height: 100%;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px); }
  #right-side .box {
    position: relative;
    height: 84px;
    width: auto;
    border-radius: 0;
    overflow: hidden;
    background-color: #fff;
    margin: 0 !important;
    border-bottom: 1px ridge rgba(128, 128, 128, 0.4);
    /* box confirm before delete */ }
    #right-side .box .box-full {
      height: auto; }
    #right-side .box:hover {
      transition: all 0.2s;
      border-bottom: 1px ridge #ef7e05; }
      #right-side .box:hover .ext-title-wrap {
        transition: all 0.1s;
        color: #ef7e05; }
    #right-side .box a:link, #right-side .box a:visited {
      color: #333 !important;
      text-decoration: none !important; }
    #right-side .box a:active {
      text-decoration: underline !important; }
    #right-side .box a:hover {
      text-decoration: none !important; }
    #right-side .box .box-image {
      border: 0;
      margin: 12px;
      display: inline-block;
      float: left; }
      #right-side .box .box-image .image {
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center center; }
    #right-side .box .box-info {
      display: inline-block;
      margin-top: 12px;
      float: left;
      width: 272px;
      height: 60px; }
      #right-side .box .box-info .box-desc {
        font-size: 12px;
        font-style: italic;
        height: 22px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    #right-side .box .place-bottom .rating, #right-side .box .place-bottom .delete-btn,
    #right-side .box .place-bottom .favorite-btn {
      color: #e69000;
      font-weight: bold;
      font-size: 14px;
      display: inline-block; }
    #right-side .box .place-bottom .delete-btn,
    #right-side .box .place-bottom .favorite-btn {
      color: #999;
      float: right;
      margin-top: 1px; }
    #right-side .box .place-bottom .delete-btn {
      width: 25px; }
      #right-side .box .place-bottom .delete-btn .icon-trash {
        padding: 11px; }
      #right-side .box .place-bottom .delete-btn:hover .icon-trash {
        color: #333;
        font-size: 20px;
        padding: 1px 8px 8px; }
    #right-side .box .place-bottom .favorite-btn .favorite-active,
    #right-side .box .place-bottom .favorite-btn .favorite-active:hover {
      color: red; }
    #right-side .box .place-bottom .favorite-btn .favorite-not-active,
    #right-side .box .place-bottom .favorite-btn .favorite-not-active:hover {
      color: #999; }
    #right-side .box .place-bottom .favorite-btn .icon-heart {
      padding: 11px; }
    #right-side .box .place-bottom .favorite-btn:hover .icon-heart {
      padding: 1px 8px 8px;
      font-size: 20px; }
    #right-side .box .link-bottom {
      background-size: 15px !important;
      height: 20px; }
      #right-side .box .link-bottom .link-canonical-url {
        font-size: 12px;
        font-style: italic;
        color: rgba(0, 0, 255, 0.8) !important;
        padding: 5px 0;
        margin-left: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      #right-side .box .link-bottom .delete-btn {
        float: right;
        width: 25px; }
        #right-side .box .link-bottom .delete-btn .icon-trash {
          font-size: 14px;
          color: #999;
          padding: 11px; }
        #right-side .box .link-bottom .delete-btn:hover .icon-trash {
          color: #333;
          padding: 8px;
          font-size: 20px; }
    #right-side .box .ext-title-wrap {
      font-size: 14px !important;
      font-family: Arial !important;
      margin: 0 0 6px;
      width: 262px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    #right-side .box .box-confirm {
      height: 84px;
      width: 100%;
      background-color: rgba(238, 238, 238, 0.85);
      z-index: 1;
      position: absolute;
      top: 0; }
      #right-side .box .box-confirm .box-confirm-content {
        height: 70px;
        width: 150px;
        margin: 0 auto; }
        #right-side .box .box-confirm .box-confirm-content p {
          color: #333;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          margin: 10px 0 12px;
          z-index: 2; }
        #right-side .box .box-confirm .box-confirm-content .btn-confirm-no, #right-side .box .box-confirm .box-confirm-content .btn-confirm-yes {
          z-index: 2;
          width: 44px;
          height: 29px;
          margin: 0 0 0 20px;
          float: left;
          font-weight: bold;
          font-size: 15px;
          border: 1px solid transparent;
          border-radius: 4px;
          color: #333;
          background-color: #fff;
          border-color: #ccc; }
          #right-side .box .box-confirm .box-confirm-content .btn-confirm-no:hover, #right-side .box .box-confirm .box-confirm-content .btn-confirm-yes:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        #right-side .box .box-confirm .box-confirm-content .btn-confirm-yes {
          float: right;
          color: white;
          background-color: #f0ad4e;
          border-color: #eea236;
          margin: 0 20px 0 0; }
  #right-side .error {
    height: auto;
    text-align: center;
    box-sizing: content-box;
    padding: 96px 40px 0; }
    #right-side .error .error-content {
      font-style: italic;
      width: 188px;
      margin: 0 auto 11px;
      font-size: 18px; }
    #right-side .error .login-btn {
      color: white;
      font-size: 16px;
      width: 70px;
      height: 30px;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #f0ad4e;
      border-color: #eea236; }

/*# sourceMappingURL=right-side-2.css.map */
