.glyphicon-remove:hover {
    color: #e78720;
}
.btn-confirm-delete,
.btn-confirm-cancel {
    position: absolute;
    bottom: 0px;
    right: 10%;
    z-index: 2;
    width: 44px;
    height: 32px;
    padding: 0;
}

.btn-confirm-cancel {
    left: 10%;
}

.box-confirm {
    height: 100%;
    width: 345px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: absolute;
}

.box-confirm-content p {
    margin: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    z-index: 0;
}

.box-confirm-content {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 43%;
    height: 70px;
}

.delete-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 14px;
    height: 14px;
}

.delete-icon:hover {
    cursor: pointer;
}


/*
* Media bootstrap
*
*/

.box-blur {
    height: 100%;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.box {
    position: relative;
    height:  96px;
    width: auto;
    border-radius: 0;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    padding: 10px 0 10px 10px;
    border-bottom: 1px ridge rgba(128, 128, 128, 0.4);
}

.box-full {
    height: auto;
}
.box:hover .box-title {
    color: #ef7e05;
}
.box:hover {
    border-bottom: 1px ridge #ef7e05;
}
.quote-content {
    width: auto;
    padding: 5px 15px 0px 8px;
    font-size: 13px;
    border-left: 5px solid #f8720f;
    margin-bottom: 6px;

}

.quote-content-full {
    height: auto;
    overflow: visible;
}

.quote-content-short {
    height: 60px;
    overflow: hidden;
}



.saved-link-footer {
    /* height: 20px; */
    font-style: italic;
    font-size: 12px;
    position: absolute;
    bottom: 6px;
}

body {
    overflow-x: hidden;
    position: relative;
    font-family: Arial;
}

.tab-pane {
    margin-top: 10px;
}

.box-avatar-left img {
    border: 0;
    width: 75px;
    height: 75px;
    margin: 0;
}

.box-body-content {
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    height: 35px;
    width: auto;
}

.tab-content {
    height: 390px;
    overflow: auto;
    width: 372px;
    background-color: white;
    border: 0;
    margin-bottom: 10px;
    /* box-shadow: 0 14px 18px -16px #9a9696 inset; */
    /* box-shadow: 0 0 5px 5px #888; */
    /*padding-bottom: 50px;*/
}
.tab-pane {
    width: 100%;
}

#right-side {
    width: 372px;
    height: 435px;
    bottom: 0;
    right: 15px;
    position: fixed;
    box-shadow: 0 0 5px;
    display: none;
}

#div-trip-select {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
}

#selection-trip {
    height: 26px;
    width: 103px;
    border-color: #de8700;
}

#open-button {
    height: 26px;
    border: 1px solid #B97306;
    float: right;
    background-color: #de8700;
}

#open-button.btn-sm {
    padding: 5px 9px;
    font-size: 13px;
    line-height: 0.5;
    border-radius: 0;
}

input[type=submit] {
    background-color: #e69000;
    color: white;
    border: 1px solid #de8700;
    height: 26px;
}

#right-side-footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.29);
}

#tooltip-switch {
    margin: 12px 85px 12px;
}

#tooltip-switch .btn {
    padding: 1px 12px;
}

a.box-title:link {
    color: black;
    text-decoration: none;
}

a.box-title:active {
    text-decoration: underline;
}

a.box-title:visited {
    color: black;
    text-decoration: none;
}

a.box-title:hover {
    text-decoration: none;
}

.title-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 262px;
    overflow: hidden;
}

.box-body {
    width: auto;
    padding: 0 15px 0 0;
    height: auto;
}
.quote-source, 
.quote-see-more {
    float: left;
    font-size: 12px;
    margin: 0;
}
.quote-see-more {
    float: right;
    padding: 0 15px 0 0;
}

/* Tab-pane */
.tab-pane {
    margin-top: 0;
/*    padding: 10px;*/
}

/* Trip name */
.trip-name {
    font-size: 20px;
}


/* right side nav tabs */
#right-side-nav-tabs {
    background-color: #f8f8f8;
    position: relative;
    height: 37px;
    border-bottom: 1px ridge rgba(128, 128, 128, 0.3);
    /* -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); */
}
#nav-icon-group{
    position: absolute;
    bottom: 0px;
    right: 5px;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs>li>a {

    font-size: 20px;
    color: gray;
    border-radius: 0;
}
#nav-icon-group > div {
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 35px;
}
#nav-icon-group > div.active {
    background-color: #E78720;
}
#nav-icon-group > div.active >a> span {
    color: white;
}
.nav>li>a {

    padding: 4px 11px;
        width: auto;
    height: auto;
}
.nav-tabs >li.active > a, .nav-tabs>li.active>a:focus {
        margin: 0 0 0 3px;  
    background-color: #e78720;
    border:0;
    color: white;
}
#right-side-nav-tabs>.glyphicon-list {
        margin: 5px 5px 5px 10px;
    font-size: 22px;
    color: #e78720;
}



/* Dropdown trip */
.my-dropdown {
    display: inline-block;
    position: relative;
}

.my-dropdown-content {
    display: none;
    z-index: 3;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.my-dropdown-content a:hover {background-color: #f1f1f1;}
.my-dropdown-content a {
    font-family: Arial;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-size: 17px;
}
.my-dropdown:hover .my-dropdown-content {
    display: block;
}
/* tool button */

#btn-tool-show {
    opacity: 0.5;
    z-index: 10;
    border: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 43px;
    width: 43px;
    border-radius: 50%;
}
#btn-tool-show:hover {
    opacity: 1;
}

button:focus {
    outline: none !important;
}
